<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\Customer\Api\CustomerTokenServiceInterface" type="AlbertMage\Customer\Model\CustomerTokenService"/>
    <preference for="AlbertMage\Customer\Api\SocialRepositoryInterface" type="AlbertMage\Customer\Model\SocialAccountRepository"/>
    <preference for="AlbertMage\Customer\Api\Data\SocialAccountInterface" type="AlbertMage\Customer\Model\SocialAccount"/>
    <preference for="AlbertMage\Customer\Api\Data\SocialAccountSearchResultsInterface" type="AlbertMage\Customer\Model\SocialAccountSearchResults"/>
    <preference for="AlbertMage\Customer\Api\CustomerInterface" type="AlbertMage\Customer\Model\Customer"/>
    <preference for="AlbertMage\Customer\Api\CustomerTokenServiceInterface" type="AlbertMage\Customer\Model\CustomerTokenService"/>
</config>